<template>
    <AppLayout>

        <div class="container mt-5 mb-5">
            <div id="smart" class="row">
                <div class="col p-3 mt-3">
                    <h2>{{ $t('page.smartPassword') }}</h2>
                    <p>{{ $t('page.smartPasswordAbout') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <DictionaryPasswordForm :config="config.dictionaries"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <Adsense
                        :data-ad-client="this.googleAdsClient"
                        data-ad-slot="3771998471"
                        data-full-width-responsive="auto"
                    />
                </div>
            </div>
            <div id="generator" class="row">
                <div class="col p-3 mt-3">
                    <h2>{{ $t('page.generatedPassword') }}</h2>
                    <p>{{ $t('page.generatedPasswordAbout') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <PasswordRandomForm :config="config.random"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <Adsense
                        :data-ad-client="this.googleAdsClient"
                        data-ad-slot="1313695403"
                        data-full-width-responsive="auto"
                    />
                </div>
            </div>
            <div id="score" class="row">
                <div class="col p-3 mt-3">
                    <h2>{{ $t('page.scorePassword') }}</h2>
                    <p>{{ $t('page.scorePasswordAbout') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <ScorePasswordForm/>
                </div>
            </div>
        </div>

    </AppLayout>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3';
import DictionaryPasswordForm from "@/Components/DictionaryPasswordForm.vue";
import AppLayout from '@/Layouts/AppLayout.vue';
import ScorePasswordForm from "@/Components/ScorePasswordForm.vue";
import PasswordRandomForm from "@/Components/PasswordRandomForm.vue";
import Adsense from 'vue-google-adsense/dist/Adsense.min.js'

export default {
    name: "Main",
    components: {PasswordRandomForm, ScorePasswordForm, AppLayout, Head, DictionaryPasswordForm, Adsense},
    template: AppLayout,
    props: {
        config: {
            dictionaries: Object,
            random: Object,
        },
    },
    data() {
        return {
            googleAdsClient: import.meta.env.VITE_GOOGLE_ADS_ID_CLINET
        }
    }
}

</script>

<style scoped>

</style>
