<template>
    <AppLayout>
        <article class="mt-10 mb-10 pt-10 pb-10"
                 v-html="content"
        />
    </AppLayout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
    name: "PageSimple",
    template: AppLayout,
    components: {AppLayout},
    props: {
        content: String
    }
}
</script>

<style scoped>

</style>
