<template>
    <div
        v-if="this.userConsentsAccepted !== true && $page.url !== route('simplePage', {lang: this.$page.props.locale.current, slug: $t('page.privacyPolicy.slug') }, false)">
        <div
            style="z-index: 10000; opacity: 0.75;"
            class="vertical-center h-100 w-100 bg-dark"
        >
        </div>

        <div
            style="z-index: 10100;"
            class="vertical-center sticky-wrapper h-100 d-flex align-items-center justify-content-center"
        >
            <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
                <img src="/images/cookies.png" alt="Cookies" width="50">

                <span class="mt-2">
                    {{ $t('cookies.consents.modal.text') }}
                </span>

                <br>

                <a class="d-flex align-items-center"
                   :href="route('simplePage', {lang: this.$page.props.locale.current, slug: $t('page.privacyPolicy.slug') })">
                    {{ $t('page.privacyPolicy.label') }}<i class="fa fa-angle-right ml-2"></i>
                </a>

                <div>
                    <a
                        :href="route('cookie.consents.dontAccepted')"
                        class="btn btn-dark mt-3 px-4 mr-1">
                        {{ $t('cookies.consents.modal.notAcceptButtonLabel') }}
                    </a>

                    <button
                        @click="acceptCookies()"
                        class="btn btn-dark mt-3 px-4 ml-1"
                        type="submit"
                    >
                        {{ $t('cookies.consents.modal.acceptButtonLabel') }}
                    </button>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: 'CookieConsentModal',
    methods: {
        acceptCookies() {
            let thisHandler = this;

            axios.put(
                route('cookie.consents.accepted'),
                {},
                {
                    headers: {
                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    }
                }
            )
                .then((response) => {
                    thisHandler.userConsentsAccepted = true;
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    props: {
        userAccepted: Boolean,
    },
    data() {
        return {
            userConsentsAccepted: this.userAccepted,
        }
    }
}
</script>

<style scoped>
.card {
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px 0 rgb(249, 249, 250);
    -moz-box-shadow: 0 0 5px 0 rgba(212, 182, 212, 1);
    box-shadow: 0 0 5px 0 rgb(161, 163, 164);
}

.vertical-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
