<template>

    <div class="container">
        <form @submit.prevent="submit">

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ $t('page.dictionaries') }}</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline" v-for="dictionary in config.dictionaries">
                        <input
                            :value="dictionary.option"
                            name="dictionaries"
                            class="form-check-input"
                            type="checkbox"
                            :checked="dictionary.default"
                            v-model="formData.dictionaries"
                        >
                        {{ $t('page.' + dictionary.option) }}
                    </div>
                    <div class="text-danger small" v-if="errors.dictionaries">{{ errors.dictionaries[0] }}</div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ $t('page.camelCase') }}</label>
                <div class="col-sm-10">
                    <div class="form-check form-switch">
                        <input
                            name="camelCase"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="camelCase"
                            :checked="config.camelCase"
                            v-model="formData.camelCase"
                        >
                    </div>
                </div>
                <div class="text-danger small" v-if="errors.camelCase">{{ errors.camelCase[0] }}</div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ $t('page.length') }}</label>
                <div class="col-sm-10 form-outline">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label pr-1" for="lengthMin">{{ $t('page.min') }}</label>
                        <input
                            :min="config.lengthMin"
                            :max="config.lengthMax"
                            name="lengthMin"
                            class="form-control"
                            type="number"
                            id="lengthMin"
                            v-model="formData.lengthMin"
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label pr-1" for="lengthMax">{{ $t('page.max') }}</label>
                        <input
                            :min="config.lengthMin"
                            :max="config.lengthMax"
                            name="lengthMax"
                            class="form-control"
                            type="number"
                            id="lengthMax"
                            v-model="formData.lengthMax"
                        >
                    </div>
                    <div class="text-danger small" v-if="errors.lengthMin">{{ errors.lengthMin[0] }}</div>
                    <div class="text-danger small" v-if="errors.lengthMax">{{ errors.lengthMax[0] }}</div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ $t('page.countOfPasswords') }}</label>
                <div class="col-sm-10">
                    <select name="passwordsCount" class="form-select" aria-label="Count of generated passwords"
                            v-model="formData.passwordsCount">
                        <option v-for="option in config.passwordsCount.options"
                                :selected="option === config.passwordsCount.default"
                        >
                            {{ option }}
                        </option>
                    </select>
                    <div class="text-danger small" v-if="errors.passwordsCount">{{ errors.passwordsCount[0] }}</div>
                </div>
            </div>

            <b-button
                :disabled="this.button.disabled"
                @click="submit"
                variant="primary"
            >
                {{ this.button.disabled ? $t('page.wait') + ' (' + this.button.timerLabelValue + ')' : $t('page.generate') }}
            </b-button>

        </form>
    </div>

    <div class="container mt-5 text-center" v-if="this.button.spinner">
        <b-spinner style="width: 3rem; height: 3rem;" label="Large Spinner" variant="primary" />
    </div>

    <div class="container mt-5" v-if="generatedPassword">
        <div class="row mt-2">
            <div class="col-12">
                <h5>{{ $t('page.generatedPasswords') }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lx-4 col-lg-4 text-center" v-for="password in generatedPassword">
                <PasswordBadgeComponent :password="password.password" :score="password.score"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <PasswordStrengthLegendComponent />
            </div>
        </div>
    </div>

</template>

<script>
import PasswordStrengthLegendComponent from "@/Components/PasswordStrengthLegendComponent.vue";
import PasswordBadgeComponent from "@/Components/PasswordBadgeComponent.vue";
import {useReCaptcha} from "vue-recaptcha-v3";

export default {
    name: "DictionaryPasswordComponent",
    components: {PasswordBadgeComponent, PasswordStrengthLegendComponent, useReCaptcha},
    props: {
        config: {
            dictionaries: [{
                option: String,
                default: Boolean,
            }],
            camelCase: Boolean,
            lengthMin: Number,
            lengthMax: Number,
            passwordsCount: {
                default: Number,
                options: Array,
            }
        }
    },
    data() {
        return {
            errors: Object,
            generatedPassword: null,
            formData: {
                dictionaries: [],
                lengthMin: null,
                lengthMax: null,
                camelCase: null,
                passwordsCount: null,
                captchaToken: null,
            },
            button: {
                disabled: false,
                spinner: false,
                timer: null,
                timerLabel: null,
                timerLabelValue: 6,
            }
        }
    },
    mounted: function () {
        this.formData.camelCase = this.config.camelCase;
        this.formData.lengthMin = this.config.lengthMin;
        this.formData.lengthMax = this.config.lengthMax;
        this.formData.passwordsCount = this.config.passwordsCount.default;

        let dictionaries = [];

        this.config.dictionaries.forEach(function (value) {
            if (value.default === true) {
                dictionaries.push(value.option);
            }
        })

        this.formData.dictionaries = dictionaries;
    },
    setup() {
        const {executeRecaptcha, recaptchaLoaded} = useReCaptcha();

        async function recaptcha() {
            await recaptchaLoaded()

            return await executeRecaptcha('login');
        }

        return {recaptcha};
    },
    methods: {
        submit: function () {
            this.button.disabled = true;
            this.generatedPassword = null;
            this.button.spinner = true;

            this.errors = {};

            let thisHandler = this;

            this.recaptcha().then(function (result) {
                thisHandler.formData.captchaToken = result;

                axios.post(route('passwords.dictionaries'), thisHandler.formData)
                    .then((response) => {
                        thisHandler.button.spinner = false;
                        thisHandler.generatedPassword = response.data;

                        thisHandler.setActiveButtonInterval();
                    }, (error) => {
                        if (error.response !== undefined && error.response.status === 429) {
                            thisHandler.setActiveButtonInterval();

                            return;
                        }
                        thisHandler.button.spinner = false;
                        thisHandler.button.disabled = false;

                        thisHandler.errors = error.response.data.errors;
                    });
            })
        },
        setActiveButtonInterval()
        {
            this.button.timer = setInterval(() => {
                this.button.disabled = false;
                clearInterval(this.button.timer);
                this.button.spinner = false;
            }, 5555);

            this.button.timerLabel = setInterval(() => {
                let currentTime = this.button.timerLabelValue;
                currentTime--;

                if (currentTime <= 0) {
                    clearInterval(this.button.timerLabel);

                    this.button.timerLabelValue = 6;

                    return;
                }

                this.button.timerLabelValue = currentTime;

            }, 1000);
        }
    }
}
</script>

<style scoped>

</style>
