<template>
    <footer class="navbar fixed-bottom bg-light">
        <div class="container-fluid footer-text">
            <div class="col text-left">
                <a href="https://www.kosmcode.pl/" target="_blank" class="link-dark">
                    &copy KosmCODE 2019 - 2023
                </a>
            </div>
            <div class="col text-right">
                <Link class="link-dark" :href="route('simplePage', {lang: this.$page.props.locale.current, slug: $t('page.privacyPolicy.slug') })">
                    {{ $t('page.privacyPolicy.label') }}
                </Link>
            </div>
        </div>
    </footer>
</template>

<script>
import { Link } from '@inertiajs/vue3'
export default {
    name: "FooterComponent",
    components: {Link}
}
</script>

<style scoped>

</style>
