<template>
    <header class="fixed-top">
        <b-navbar toggleable="sm" type="light" variant="light">
            <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

            <b-navbar-brand href="/">
                <img src="/images/logo.svg" class="h-7 d-inline-block align-top" alt="smart password animated logo">
                Smart-Password
            </b-navbar-brand>

            <b-collapse id="nav-text-collapse" is-nav class="w-90">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-9 text-sm-center">
                            <b-navbar-nav>
                                <b-nav-item href="#smart">{{ $t('page.smartPassword') }}</b-nav-item>
                                <b-nav-item href="#generator">{{ $t('page.generatedPassword') }}</b-nav-item>
                                <b-nav-item href="#score">{{ $t('page.scorePassword') }}</b-nav-item>
                            </b-navbar-nav>
                        </div>
                        <div class="col-12 col-sm-3 text-sm-end">
                            <LanguageChangeComponent :languages="$page.props.languages"/>
                        </div>
                    </div>
                </div>
            </b-collapse>

        </b-navbar>
    </header>
</template>

<script>
import LanguageChangeComponent from "@/Components/LanguageChangeComponent.vue";

export default {
    name: "HeaderComponent",
    components: {LanguageChangeComponent}
}
</script>
