<template>
    <b-dropdown size="sm" split :text="$t('page.language')" class="m-2">
        <b-dropdown-item
            v-for="languageInfo in languages"
            :href="route('main', languageInfo.prefix)"
            :active="languageInfo.prefix === $page.props.locale.current"
        >
            <flag :iso="languageInfo.iconPrefix"/>
            {{ $t('page.' + languageInfo.language) }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>
export default {
    name: "LanguageChangeComponent",
    props: {
        languages: {
            prefix: String,
            language: String,
            iconPrefix: String,
        },
    },
}
</script>

<style scoped>

</style>
