<template>
    <div>
        <span v-if="score === 0" class="badge text-bg-danger text-wrap w-100 p-2 m-1" @click="copyToClipboard">
            {{ password }}
        </span>
        <span v-if="score === 1" class="badge text-bg-warning text-wrap w-100 p-2 m-1" @click="copyToClipboard">
            {{ password }}
        </span>
        <span v-if="score === 2" class="badge text-bg-info text-wrap w-100 p-2 m-1" @click="copyToClipboard">
            {{ password }}
        </span>
        <span v-if="score === 3" class="badge text-bg-primary text-wrap w-100 p-2 m-1" @click="copyToClipboard">
            {{ password }}
        </span>
        <span v-if="score === 4" class="badge text-bg-success text-wrap w-100 p-2 m-1" @click="copyToClipboard">
            {{ password }}
        </span>
    </div>
</template>

<script>
import {toast} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

export default {
    name: "PasswordBadgeComponent",
    props: {
        password: String,
        score: Number,
    },
    methods: {
        copyToClipboard: function (event) {
            navigator.clipboard.writeText(event.target.textContent);
            this.showToast();
        },
        showToast() {
            toast.info(this.$t('page.copied') + '!',
                {
                    autoClose: 500,
                }
            );
        }
    }
}
</script>

<style scoped>

</style>
