<template>
    <div class="container">
        <div class="row">
            <form @submit.prevent="submit">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">{{ $t('page.availableCharacters') }}</label>
                    <div class="col">
                        <div v-for="characterOption in config.availableCharacters"
                             class="form-check form-check-inline"
                             v-b-tooltip.hover
                             :title="characterOption.characters"
                        >
                            <input v-model="form.characters"
                                   class="form-check-input"
                                   type="checkbox"
                                   :id="characterOption.label"
                                   :value="characterOption.label"
                                   name="characters"
                            >
                            <label class="form-check-label"
                                   :id="characterOption.label"
                            >
                                {{ $t('passwords.' + characterOption.label) }}
                            </label>
                        </div>
                    </div>

                    <div class="text-danger small"
                         v-if="errors.characters">
                        {{ errors.characters[0] }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">{{ $t('page.length') }}</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label pr-1" for="lengthMin">{{ $t('page.min') }}</label>
                            <input
                                v-model="form.lengthMin"
                                :min="config.lengthMin"
                                :max="config.lengthMax"
                                name="lengthMin"
                                class="form-control"
                                type="number"
                                id="lengthMin"
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label pr-1" for="lengthMax">{{ $t('page.max') }}</label>
                            <input
                                v-model="form.lengthMax"
                                :min="config.lengthMin"
                                :max="config.lengthMax"
                                name="lengthMax"
                                class="form-control"
                                type="number"
                                id="lengthMax"
                            >
                        </div>
                        <div class="text-danger small" v-if="errors.lengthMin">{{ errors.lengthMin[0] }}</div>
                        <div class="text-danger small" v-if="errors.lengthMax">{{ errors.lengthMax[0] }}</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">{{ $t('page.countOfPasswords') }}</label>
                    <div class="col-sm-10">
                        <select v-model="form.passwordsCount" name="passwordsCount" class="form-select"
                                aria-label="Count of generated passwords">
                            <option v-for="option in config.countOptions"
                                    :selected="option === config.countOptionsDefault"
                            >
                                {{ option }}
                            </option>
                        </select>
                        <div class="text-danger small" v-if="errors.passwordsCount">{{ errors.passwordsCount[0] }}</div>
                    </div>
                </div>

                <b-button
                    :disabled="this.button.disabled"
                    @click="submit"
                    variant="primary"
                >
                    {{ this.button.disabled ? $t('page.wait') + ' (' + this.button.timerLabelValue + ')'  : $t('page.generate') }}
                </b-button>

            </form>
        </div>

        <div class="container mt-5 text-center" v-if="this.button.spinner">
            <b-spinner style="width: 3rem; height: 3rem;" label="Large Spinner" variant="primary" />
        </div>

        <div class="row" v-if="results">
            <div class="row mt-2">
                <div class="col-12">
                    <h5>{{ $t('page.generatedPasswords') }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lx-4 col-lg-4 text-center" v-for="password in results.generatedPasswords">
                    <PasswordBadgeComponent :password="password.password" :score="password.score"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <PasswordStrengthLegendComponent />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PasswordStrengthLegendComponent from "@/Components/PasswordStrengthLegendComponent.vue";
import PasswordBadgeComponent from "@/Components/PasswordBadgeComponent.vue";
import {useReCaptcha} from "vue-recaptcha-v3";

export default {
    name: "PasswordRandomForm",
    components: {PasswordStrengthLegendComponent, PasswordBadgeComponent},
    props: {
        config: {
            availableCharacters: Array,
            countOptions: Array,
            countOptionsDefault: Number,
            lengthMin: Number,
            lengthMax: Number,
        }
    },
    setup() {
        const {executeRecaptcha, recaptchaLoaded} = useReCaptcha();

        async function recaptcha() {
            await recaptchaLoaded()

            return await executeRecaptcha('login');
        }

        return {recaptcha};
    },
    data() {
        return {
            errors: Object,
            form: {
                characters: [],
                lengthMin: null,
                lengthMax: null,
                passwordsCount: null,
                captchaToken: null,
            },
            results: null,
            button: {
                disabled: false,
                timer: null,
                spinner: false,
                timerLabel: null,
                timerLabelValue: 6,
            }
        }
    },
    mounted() {
        let formCharacters = [];

        this.config.availableCharacters.forEach(function (element) {
            formCharacters.push(element.label);
        })

        this.form.characters = formCharacters;

        this.form.lengthMin = this.config.lengthMin;
        this.form.lengthMax = this.config.lengthMax;
        this.form.passwordsCount = this.config.countOptionsDefault;
    },
    methods: {
        submit: function () {
            this.errors = {};
            this.button.disabled = true;
            this.results = null;
            this.button.spinner = true;

            let thisHandler = this;

            this.recaptcha().then(function (result) {
                thisHandler.form.captchaToken = result;

                axios.post(route('passwords.random'), thisHandler.form)
                    .then((response) => {
                        thisHandler.button.spinner = false;
                        thisHandler.results = response.data;
                        thisHandler.setActiveButtonInterval();
                    })
                    .catch((error) => {
                        if (error.response !== undefined && error.response.status === 429) {
                            thisHandler.setActiveButtonInterval();

                            return;
                        }
                        thisHandler.button.spinner = false;
                        thisHandler.button.disabled = false;

                        thisHandler.errors = error.response.data.errors;
                    });
            });
        },
        setActiveButtonInterval()
        {
            this.timer = setInterval(() => {
                this.button.disabled = false;
                clearInterval(this.timer);
                this.button.spinner = false;
            }, 5555);

            this.button.timerLabel = setInterval(() => {
                let currentTime = this.button.timerLabelValue;
                currentTime--;

                if (currentTime <= 0) {
                    clearInterval(this.button.timerLabel);

                    this.button.timerLabelValue = 5;

                    return;
                }

                this.button.timerLabelValue = currentTime;

            }, 1000);
        }
    }
}
</script>

<style scoped>

</style>
