<template>
    <div class="container">
        <div class="col-12">
            <h5>{{ $t('page.legendStrengthPasswords') }}</h5>
            <p class="p-0 m-0" v-for="(counter, iterator) in 5">
                <span v-if="iterator === 0" class="badge text-bg-danger text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + iterator) }}
                </span>
                <span v-if="iterator === 1" class="badge text-bg-warning text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + iterator) }}
                </span>
                <span v-if="iterator === 2" class="badge text-bg-info text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + iterator) }}
                </span>
                <span v-if="iterator === 3" class="badge text-bg-primary text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + iterator) }}
                </span>
                <span v-if="iterator === 4" class="badge text-bg-success text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + iterator) }}
                </span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "PasswordStrengthLegendComponent"
}
</script>

<style scoped>

</style>
