<template>
    <div class="container">
        <div class="row">
            <form @submit.prevent="submit">
                <div class="mb-3">
                    <label for="password" class="form-label">{{ $t('page.passwordCheckScore') }}</label>
                    <input v-model="form.password" type="password" class="form-control" id="password"
                           name="passwordScore">
                    <div v-if="errors.password" class="text-danger small">{{ errors.password[0] }}</div>
                </div>

                <b-button
                    :disabled="this.button.disabled"
                    @click="submit"
                    variant="primary"
                >
                    {{ this.button.disabled ? $t('page.wait') + ' (' + this.button.timerLabelValue + ')'  : $t('page.checkPasswordScore') }}
                </b-button>

            </form>
        </div>

        <div class="container mt-5 text-center" v-if="this.button.spinner">
            <b-spinner style="width: 3rem; height: 3rem;" label="Large Spinner" variant="primary" />
        </div>

        <div class="row mt-2" v-if="score">
            <h5>{{ $t('page.result') }}</h5>
            <div class="row">
                <p v-if="score.score === 0 || score.score === null" class="badge text-bg-danger text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + score.score) }}
                </p>
                <p v-if="score.score === 1" class="badge text-bg-warning text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + score.score) }}
                </p>
                <p v-if="score.score === 2" class="badge text-bg-info text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + score.score) }}
                </p>
                <p v-if="score.score === 3" class="badge text-bg-primary text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + score.score) }}
                </p>
                <p v-if="score.score === 4" class="badge text-bg-success text-wrap w-100 p-2 m-1">
                    {{ $t('passwords.rate.score.' + score.score) }}
                </p>
            </div>
            <div class="row">
                <h5>{{ $t('page.breakTimeInSeconds') }}</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ $t('passwords.rate.timePer.online100TriesPerHour') }}
                        {{ score.breakTime.onlineThrottling100PerHour }}s
                    </li>
                    <li class="list-group-item">
                        {{ $t('passwords.rate.timePer.online10TriesPerSecond') }}
                        {{ score.breakTime.onlineNoThrottling10PerSecond }}s
                    </li>
                    <li class="list-group-item">
                        {{ $t('passwords.rate.timePer.offline10000TriesPerSecond') }}
                        {{ score.breakTime.offlineSlowHashing10000PerSecond }}s
                    </li>
                    <li class="list-group-item">
                        {{ $t('passwords.rate.timePer.offline10000000000TriesPerSecond') }}
                        {{ score.breakTime.offlineFastHashing10000000000PerSecond }}s
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import {useReCaptcha} from "vue-recaptcha-v3";

export default {
    name: "ScorePasswordForm",
    data() {
        return {
            form: {
                password: null,
                captchaToken: null,
            },
            score: null,
            errors: {},
            button: {
                disabled: false,
                timer: null,
                spinner: false,
                timerLabel: null,
                timerLabelValue: 6,
            }
        }
    },
    setup() {
        const {executeRecaptcha, recaptchaLoaded} = useReCaptcha();

        async function recaptcha() {
            await recaptchaLoaded()

            return await executeRecaptcha('login');
        }

        return {recaptcha};
    },
    methods: {
        submit: function () {
            this.errors = {};
            this.button.disabled = true;
            this.score = null;
            this.button.spinner = true;

            let thisHandler = this;

            this.recaptcha().then(function (result) {
                thisHandler.form.captchaToken = result;

                axios.post(route('passwords.score'), thisHandler.form)
                    .then((response) => {
                        thisHandler.button.spinner = false;
                        thisHandler.score = response.data;
                        thisHandler.setActiveButtonInterval();
                    }, (error) => {
                        if (error.response !== undefined && error.response.status === 429) {
                            thisHandler.setActiveButtonInterval();

                            return;
                        }
                        thisHandler.button.spinner = false;
                        thisHandler.button.disabled = false;

                        thisHandler.errors = error.response.data.errors;
                    });
            });
        },
        setActiveButtonInterval()
        {
            this.timer = setInterval(() => {
                this.button.disabled = false;
                clearInterval(this.timer);
                this.button.spinner = false;
            }, 5555);

            this.button.timerLabel = setInterval(() => {
                let currentTime = this.button.timerLabelValue;
                currentTime--;

                if (currentTime <= 0) {
                    clearInterval(this.button.timerLabel);

                    this.button.timerLabelValue = 6;

                    return;
                }

                this.button.timerLabelValue = currentTime;

            }, 1000);
        }
    }
}
</script>

<style scoped>

</style>
