<template>
    <div>
        <CookieConsentModal
            :user-accepted="$page.props.cookies.consents.userAccepted"
        />

        <HeaderComponent/>

        <main>
            <div class="container mt-10 mb-10">
                <slot/>
            </div>
        </main>

        <FooterComponent/>
    </div>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3';
import {Link} from '@inertiajs/vue3'
import CookieConsentModal from "@/Components/CookieConsentModal.vue";
import HeaderComponent from "@/Components/HeaderComponent.vue";
import FooterComponent from "@/Components/FooterComponent.vue";

export default {
    components: {FooterComponent, HeaderComponent, CookieConsentModal, Head, Link},
}
</script>
